body {
  background-color: rgb(255, 255, 255);
  width: 100vw;
  overflow-x: hidden;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

.ql-editor {
  border: none !important;
}

.recharts-container-wrapper svg {
  outline: none !important;
}

.bungee-regular {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 640px) {

  .cl-userButtonPopoverCard {
    top: 5rem !important;
    left: 1rem !important;
   
  }
}

